img {
  height: 64px;
}

.action-button {
  text-transform: capitalize;

  a {
    text-decoration: none;
    color: black;
  }
}

.points-display {
  font-size: 14px;
  font-weight: bold;
  margin-left: 8px;
  color: var(--ion-color-primary);
}

.heading-container {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it stays above other content */
  background: #fff; /* Ensure the header has a background color */
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add subtle shadow for separation */
}
