img {
  height: 64px;
}

.action-button {
  text-transform: capitalize;

  a {
    text-decoration: none;
    color: black;
  }
}

.points-display {
  font-size: 14px;
  font-weight: bold;
  margin-left: 8px;
  color: var(--ion-color-primary);
}
