<ion-toolbar class="heading-container">
  <!-- Left Button -->
  <ion-buttons slot="start">
    <ion-button class="action-button" href="/home"
      ><img src="assets/logo.png" class="logo" alt="logo"
    /></ion-button>
  </ion-buttons>

  <!-- Right Button -->
  <ion-buttons slot="end">
    <!-- Log In Button (Visible when not logged in) -->
    <ion-button
      class="action-button"
      *ngIf="!isLoggedIn"
      href="/auth?mode=login"
    >
      Log In
    </ion-button>

    <!-- Log Out Button (Visible when logged in) -->
    <ion-button
      class="action-button"
      *ngIf="isLoggedIn"
      (click)="logout()"
    >
      Log Out
    </ion-button>
  </ion-buttons>
</ion-toolbar>
