.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  position: relative;

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .logo {
    width: 60%;
  }

  .age-verification {
    position: absolute; // Make it independent of the main layout
    top: calc(50% + 80px); // Place it below the logo
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .verification-text {
      font-size: 1.2rem; // Adjust font size to fit
      color: black;
      margin-bottom: 20px;
      white-space: nowrap; // Force the text to stay on one line
    }

    .button-group {
      display: flex;
      gap: 20px;

      ion-button {
        width: 120px;
        height: 50px;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
      }

      .yes-btn {
        --background: #25463d; // Green button color
      }

      .no-btn {
        --background: #000000; // Black button color
      }
    }
  }
}
