<ion-content>
  <div class="auth-container">
    <ng-container *ngIf="showMode === 'login'; else modeTemplate">
      <app-login></app-login>
    </ng-container>
    <ng-template #modeTemplate>
      <ng-container *ngIf="showMode === 'register'; else forgotPasswordTemplate">
        <app-register></app-register>
      </ng-container>
    </ng-template>
    <ng-template #forgotPasswordTemplate>
      <ng-container *ngIf="showMode === 'forgot-password'; else resetPasswordTemplate">
        <app-forgot-password></app-forgot-password>
      </ng-container>
    </ng-template>
    <ng-template #resetPasswordTemplate>
      <app-reset-password [token]="resetToken"></app-reset-password>
    </ng-template>
  </div>
</ion-content>
