<div class="order-history">
  <h2 *ngIf="!loading && !isGuest">Pending Orders</h2>

  <!-- Loading Spinner for Pending Orders -->
  <div *ngIf="loading" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div
    class="order-list"
    *ngIf="!loading && !isGuest"
    role="region"
    aria-labelledby="pending-orders-heading"
  >
    <div
      class="order-card"
      *ngFor="let order of pendingOrders; let i = index"
      [class.expanded]="expandedOrderIndex.pending === i"
    >
      <div
        class="order-header"
        (click)="toggleExpand(i, 'pending')"
        [attr.aria-expanded]="expandedOrderIndex.pending === i"
        [attr.aria-controls]="'pending-order-items-' + i"
        [attr.aria-label]="'View details for order ' + order.id_order"
      >
        <div class="order-info">
          <h3>Order #{{ order.id_order }}</h3>
          <p>{{ order.items.length }} items</p>
        </div>
        <div class="order-amount">
          <p>${{ order.total | number : "1.2-2" }}</p>
        </div>
      </div>
       <!-- Expandable section -->
   <div class="order-items" *ngIf="expandedOrderIndex.pending === i">
    <ul>
      <li *ngFor="let item of order.items" class="order-item">
        <img
          [src]="item.image === '' ? 'assets/default.png' : item.image"
          [alt]="'Image of ' + item.title"
          class="item-image"
        />
        <span>{{ item.quantity }}x</span>
        <span>{{ item.title }}</span>
      </li>
    </ul>
    <button
      class="reorder-button"
      (click)="reorder(order)"
      [attr.aria-label]="'Reorder items from order' + order.id_order"
    >
      Reorder
    </button>
  </div>
    </div>
  </div>

  

  <h2 *ngIf="!loading && !isGuest">Past Orders</h2>

  <!-- Loading Spinner for Past Orders -->
  <div *ngIf="loading" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div
    class="order-list"
    *ngIf="!loading && !isGuest"
    role="region"
    aria-labelledby="past-orders-heading"
  >
    <div
      class="order-card"
      *ngFor="let order of pastOrders; let i = index"
      [class.expanded]="expandedOrderIndex.past === i"
    >
      <div
        class="order-header"
        (click)="toggleExpand(i, 'past')"
        [attr.aria-expanded]="expandedOrderIndex.past === i"
        [attr.aria-controls]="'past-order-items-' + i"
        [attr.aria-label]="'View details for order ' + order.id_order"
      >
        <div class="order-info">
          <h3>Order #{{ order.id_order }}</h3>
          <p>{{ order.items.length }} items</p>
          <p>Pickup: {{ order.pickupDate }} at {{ order.pickupTime }}</p>
        </div>
        <div class="order-amount">
          <p>${{ order.total | number : "1.2-2" }}</p>
        </div>
      </div>

      <div class="order-items" *ngIf="expandedOrderIndex.past === i">
        <ul>
          <li *ngFor="let item of order.items" class="order-item">
            <img
              [src]="item.image"
              [alt]="'Image of ' + item.title"
              class="item-image"
            />
            <span>{{ item.quantity }}x</span>
            <span>{{ item.title }}</span>
          </li>
        </ul>
        <ion-button
          class="reorder-button"
          (click)="reorder(order)"
          [attr.aria-label]="'Reorder items from order ' + order.id_order"
        >
          Reorder
        </ion-button>
      </div>
    </div>
  </div>
</div>
