.order-history {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
    font-family: Arial, sans-serif;
  
    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 24px;
  
    }
  
    .order-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
  
      .order-card {
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        background-color: #ffffff;
        overflow: hidden;
        transition: max-height 0.3s ease;
  
        &.expanded {
          max-height: 500px; /* Adjust based on content */
        }
  
        .order-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 16px;
          cursor: pointer;
  
          .order-info {
            h3 {
              font-size: 1.2rem;
              font-weight: bold;
              margin: 0;
            }
  
            p {
              font-size: 0.9rem;
              color: #666;
              margin: 4px 0;
            }
          }
  
          .order-amount {
            p {
              font-size: 1rem;
              font-weight: bold;
              margin: 0;
              text-align: right;
            }
          }
        }
  
        .order-items {
          padding: 20px;
          ul {
            list-style: none;
            padding: 0;
        
            .order-item {
              display: flex;
              align-items: center;
              margin-bottom: 10px;
        
              img.item-image {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 4px;
                margin-right: 10px;
              }
        
              span {
                margin-right: 10px;
                font-size: 14px;
              }
            }
          }
        }
        
      }
    }
  }
  
  .reorder-button {
    background-color: var(--ion-color-primary);
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
