<div class="log-in-page">
  <div class="login-container">
    <div class="login-header">
      <div class="login-header-logo">
        <img
          [src]="
            darkModeEnabled ? 'assets/logo-dark-mode.png' : 'assets/logo.png'
          "
          alt="Your Website Guy Logo"
          class="logo"
        />
      </div>
    </div>

    <!-- Error Message -->
    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <div class="form-group">
        <label for="email" class="required">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Enter your email"
          required
        />
        <div
          *ngIf="submitted && loginForm.get('email')?.invalid"
          class="form-error"
        >
          Valid email is required.
        </div>
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password" class="required">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
          required
        />
        <div
          *ngIf="submitted && loginForm.get('password')?.invalid"
          class="form-error"
        >
          Password is required.
        </div>
      </div>

      <!-- Forgot Password -->
      <div class="forgot-password">
        <a routerLink="/auth" [queryParams]="{ mode: 'forgot-password' }">Forgot your password?</a>
      </div>

      <!-- Submit Button -->
      <ion-button
        expand="block"
        type="submit"
        [disabled]="loginForm.invalid || loading"
      >
        <ion-spinner *ngIf="loading" slot="start"></ion-spinner>
        Login
      </ion-button>
    </form>

    <p class="login-link">
      Don’t have an account?
      <a routerLink="/auth" [queryParams]="{ mode: 'register' }">Sign Up</a>
    </p>
  </div>
</div>
