<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/tabs/home">
      <i class="fa-solid fa-house icon"></i>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="products" routerLink="/products">
      <i class="fa-solid fa-list icon"></i>
      <ion-label>Products</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rewards" routerLink="/rewards">
      <i class="fa-solid fa-award icon"></i>
      <ion-label>Rewards</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
