<app-header></app-header>

<ion-content [fullscreen]="true">
  <!-- Show rewards content if user is logged in -->
  <div *ngIf="isLoggedIn; else guestContent">
    <app-points [points]="user.points" [isExclusiveMember]="user.premium"></app-points>
    <!-- Pass user to AccountComponent -->
    <app-account [user]="user"></app-account>
    <app-review></app-review>
  </div>

  <!-- Guest content -->
  <ng-template #guestContent>
    <app-guest></app-guest>
    <!-- Replace with your guest component -->
  </ng-template>
</ion-content>
