<app-header></app-header>

<ion-content [fullscreen]="true">
  <div *ngIf="isLoggedIn && !isGuest; else guestContent" aria-labelledby="user-dashboard-heading">
    <h1 id="user-dashboard-heading" class="sr-only">User Dashboard</h1>
    <app-points
      [attr.aria-label]="'You have ' + user.points + ' points. ' + user.premium ? 'You are an exclusive member.' : 'You are not an exclusive member.'"
    ></app-points>
    
    <app-banner-carousel aria-label="Promotional banners carousel"></app-banner-carousel>
    
    <ng-container *ngIf="isAdmin">
      <app-admin></app-admin>
    </ng-container>

    <app-account
      [user]="user"
      [attr.aria-label]="'Account settings for ' + user.name"
    ></app-account>

    <app-review aria-label="Leave a review"></app-review>
  </div>

  <ng-template #guestContent>
    <app-guest aria-label="Guest content. Please log in to access your dashboard."></app-guest>
  </ng-template>

</ion-content>