.product-detail {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 16px;
  border-radius: 12px;
  background-color: #ffffff;
}

.back-button {
  cursor: pointer;
  font-size: 1.2em;
  color: var(--ion-color-primary-tint);
  display: flex;
}

.back-button ion-icon {
  margin-right: 8px;
}

.image-container {
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio for square images */
  position: relative;
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  padding: 15px 0;
  text-align: left;
}

.brand {
  font-size: 0.9em;
  color: #888;
  margin-bottom: 4px;
}

.title {
  font-size: 1.3em;
  font-weight: bold;
  margin: 5px 0;
  color: #333;
}

.price {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--ion-color-primary);
  margin: 8px 0;
}

.strain {
  font-size: 0.9em;
  color: #555;
  margin-top: 10px;
  text-transform: capitalize;
}

.description {
  font-size: 1em;
  color: #666;
  line-height: 1.5;
  margin: 10px 0;
}

.see-more {
  color: var(--ion-color-primary-tint);
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.see-more:hover {
  text-decoration: underline;
}

.weight {
  font-size: 0.9em;
  color: #666;
  display: block;
  margin-top: 8px;
}

/* App-specific styles for touch friendliness */
button,
.back-button {
  padding: 10px;
  border: none;
  background: transparent;
  color: #000000;
  font-size: 1em;
  display: flex;
  cursor: pointer;
  transition: color 0.3s;
  font-size: 1.6em;
}

button:hover,
.back-button:hover {
  color: var(--ion-color-primary-shade);
}

.quantity-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;

  button,
  span {
    font-size: 20px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: var(--ion-color-dark);
    background-color: #ddd;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: #ccc;
    }
  }

  span {
    min-width: 24px;
    margin: 0 12px;
    font-weight: bold;
    text-align: center;
  }
}

ion-button {
  margin-top: 16px;
}

.custom-toast {
  --background: #333333; /* Dark grey background */
  --color: #ffffff; /* Ensure text color is white */
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem; /* Slightly larger font size */
  padding: 16px 24px; /* More padding for a bigger appearance */
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
  margin: 0 16px; /* Add horizontal margin for spacing */
  max-width: calc(100% - 32px); /* Ensure it fits on small screens */
  position: relative;
  margin-bottom: 50px;
  color: var(--color); /* Explicitly apply the white color */
}
