.image-container {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.view-all{
  display: flex;
  text-decoration: none;
  color: black;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
  color: var(--ion-color-light);
  text-align: center;
}

.card-details .product-title {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.card-details .product-price {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0 0 0;
  color: var(--ion-color-secondary);
}

.category-section {
  padding: 20px 24px 16px;

  &:nth-child(even) {
    background-color: rgba(var(--ion-color-secondary-rgb), 0.7) !important;
  }
  &:nth-child(4n-2) {
    background-color: rgba(var(--ion-color-primary-rgb), 0.6) !important;
  }
}

.section-header {
  display: flex;
  align-items: center;
}

.section-header h2 {
  font-size: 1.7em;
  text-transform: capitalize;
  margin: 0 6px 0 0;
}

.slider-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Hides scrollbar on Firefox */
  padding: 20px 0;
}

.slider {
  display: flex;
  gap: 20px;
}

.slide {
  flex: 0 0 auto;
  width: 196px;
  height: 284px;
}

.card {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 15px; /* Slightly more rounded corners */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.1); /* Enhanced shadow for depth */
  overflow: hidden;
  position: relative;
  transform: scale(1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05); /* Slight zoom-in effect */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.15); /* Larger shadow on hover */
  }
}

.arrow-icon {
  font-size: 1.8em;
  color: black;
}

.product-title {
  text-align: left;
}

.product-price {
  text-align: right;
}
