<div *ngFor="let category of categories" class="category-section">
  <div class="section-header">
    <h2>{{ category.category === "PRE_ROLLS" ? "Pre Rolls" : category.category.toLowerCase() }}</h2>
    <a (click)="updateCategory(category.category)" class="view-all">
      <ion-icon name="arrow-forward-outline" class="arrow-icon"></ion-icon>
    </a>
  </div>
  <div class="slider-container">
    <div class="slider">
      <ng-container *ngFor="let product of products">
        <div class="slide" *ngIf="product.category === category.category">
          <div class="card" (click)="updateProductDisplay(product)">
            <div class="image-container">
              <img [src]="product.image" alt="Product" />
              <div class="card-details">
                <p class="product-title">
                  {{ product.title | slice:0:35 }}{{ product.title.length > 35 ? '...' : '' }}
                </p>                
                <p class="product-price">{{ product.price | currency }}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
