<div *ngFor="let category of categories" class="category-section">
  <div class="section-header">
    <h2>{{ category.title }}</h2>
    <a (click)="updateCategory(category.category)" class="view-all" *ngIf="category.title !== 'Concierge Picks' && category.title !== 'Specials'">
      <ion-icon name="arrow-forward-outline" class="arrow-icon"></ion-icon>
    </a>
  </div>
  <div class="slider-container">
    <div class="slider">
      <ng-container *ngFor="let product of products">
        <div class="slide"  *ngIf="product.category == category.category">
          <div class="card" (click)="updateProductDisplay(product)">
            <div class="image-container">
              <img [src]="product.image" alt="Product Image" />
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
