.carousel-container {
  position: relative;
  height: 200px; /* Adjust height as needed */
  overflow: hidden;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.carousel-slide.active {
  opacity: 1;
}

.banner-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  background-color: var(--ion-color-primary);

  img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 600px) {
  .carousel-container {
    height: 350px;
  }
}