<div class="review-container">
  <div class="header">
    <h1 id="leave-review-heading">Leave a Review</h1>
    <p id="leave-review-description">Your feedback helps us grow! Share your experience on Google.</p>
  </div>

  <div class="input-container">
    <ion-button
      expand="block"
      (click)="leaveReview()"
      color="primary"
      class="submit-btn"
      aria-labelledby="leave-review-heading leave-review-description"
      aria-label="Go to Google Reviews to leave feedback"
    >
      Go to Google Reviews
    </ion-button>
  </div>
</div>
