<div class="guest-container">
  <div class="guest-header">
    <h1>Join Our Rewards Program!</h1>
    <p>Sign up now to earn points, enjoy exclusive offers, and unlock exciting rewards.</p>
  </div>

  <ion-button expand="block" color="primary" href="/auth?mode=register">Sign Up Now</ion-button>

  <div class="rewards-details">
    <div class="reward-item">
      <ion-icon name="star-outline"></ion-icon>
      <h3>Earn Points</h3>
      <p>Get points for every purchase and redeem them for discounts or free products.</p>
    </div>
    <div class="reward-item">
      <ion-icon name="gift-outline"></ion-icon>
      <h3>Exclusive Offers</h3>
      <p>Access members-only discounts and special promotions.</p>
    </div>
    <div class="reward-item">
      <ion-icon name="ribbon-outline"></ion-icon>
      <h3>Stay Up To Date</h3>
      <p>Receive special announcements and events going on at Flower Power.</p>
    </div>
  </div>

</div>
