<div class="guest-container">
  <div class="guest-header">
    <h1>Join Our Rewards Program!</h1>
    <p>Sign up for free or upgrade to our exclusive Membership for even more perks!</p>
  </div>

  <ion-button expand="block" color="dark" href="/auth?mode=register">Sign Up for Free</ion-button>

  <div class="rewards-details">
    <div class="reward-item">
      <ion-icon name="card-outline"></ion-icon>
      <div class="reward-header">Free to join</div>
      <h3>Free Rewards Program</h3>
      <ul class="reward-list">
        <li>Earn 1 point for every $1 spent (pre-tax)</li>
        <li>Redeem points for select products</li>
        <li>Be the first to know about new products, premiere bundles, and signature events</li>
      </ul>
    </div>
    <div class="reward-item">
      <ion-icon name="medal-outline"></ion-icon>
      <div class="reward-header">Annual fee required (sign up in-store)</div>
      <h3>Exclusive Membership</h3>
      <ul class="reward-list">
        <li>200 bonus points upon joining</li>
        <li>10% off all in-store purchases of $125+ (pre-tax)</li>
        <li>Earn 2 points for every $1 spent (pre-tax)</li>
        <li>Redeem points for select products</li>
      </ul>
    </div>
  </div>
</div>
