<div class="admin-container">

  <div class="header">
    <h1 tabindex="0">Admin Tools</h1>
  </div>

  <div class="button-group">
    <ion-button expand="block" color="primary" (click)="fetchData()">Download Data</ion-button>
  </div>

  <div class="notification-container">
    <div class="header">
      <h1 tabindex="0">Notification Center</h1>
    </div>
  
    <div class="input-group">
      <label class="input-label">Notification Title</label>
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input color="primary" [(ngModel)]="title"></ion-input>
      </ion-item>
    </div>
  
    <div class="input-group">
      <label class="input-label">Notification Body</label>
      <ion-item>
        <ion-label position="floating">Body</ion-label>
        <ion-textarea color="primary" [(ngModel)]="body"></ion-textarea>
      </ion-item>
    </div>
  
    <div class="input-group">
      <label class="input-label">Select Category (Optional)</label>
      <ion-item>
        <ion-label position="floating">Category</ion-label>
        <ion-select [(ngModel)]="selectedCategory" placeholder="Select a category">
          <ion-select-option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  
    <ion-item class="file-upload-container" lines="none">
      <ion-label class="file-upload-label">Upload Image</ion-label>
      <div class="file-upload-wrapper">
        <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*" hidden>
        <ion-button expand="block" (click)="triggerFileInput()">Choose File</ion-button>
      </div>
      <p *ngIf="selectedFileName" class="file-name">{{ selectedFileName }}</p>
    </ion-item>
  
    <div class="image-preview-container" *ngIf="imageUrl">
      <img [src]="imageUrl" alt="Preview" class="image-preview">
    </div>
  
    <div class="button-group">
      <ion-button expand="block" (click)="sendNotification()" color="primary">Send Notification</ion-button>
      <ion-button expand="block" color="medium" (click)="clearNotificationForm()">Clear Notification</ion-button>
    </div>
  </div>
  
  <div class="upload-container">
    <div class="header">
      <h1 tabindex="0">Banner Controller</h1>
    </div>

    <div class="image-grid">
      <div *ngFor="let image of carouselImages; let i = index" class="image-card" (click)="toggleDropdown(i)">
        <img [src]="image" class="carousel-thumbnail">
        <p>Carousel {{ i + 1 }}</p>
      </div>
    </div>

    <div *ngFor="let image of carouselImages; let i = index">
      <div *ngIf="expandedIndex === i" class="expandable-content">
        <div class="image-preview-container">
          <p>Original Image:</p>
          <img [src]="carouselImages[i]" class="preview-image original">
        </div>

        <div *ngIf="selectedIndex === i" class="image-preview-container">
          <p>Uploaded Image:</p>
          <img [src]="uploadedImagePreviewUrl[i]" class="preview-image uploaded">
        </div>

        <input type="file" (change)="onImageFileSelected($event, i)" accept="image/*">
        <p *ngIf="selectedFileName">{{ selectedFileName }}</p>

        <ion-button (click)="replaceImage(i)" [disabled]="!selectedImageFile[i]">Replace Image</ion-button>
      </div>
    </div>
  </div>
</div>
