ion-item {
  --padding-start: 24px;
  --padding-end: 24px;
  --border-color: rgba(var(--ion-color-dark-rgb), 0.15);
}

.product-title {
  font-size: 1.1rem; /* Adjust this value to make it larger or smaller */
  margin: 5px 0; /* Optional: adds spacing around the title */
}

.container {
  width: 100%;
  height: 100%;

  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;

  padding: 16px 0;
}

img {
  width: 125px;
}

.info {
  width: 100%;
}

.weightAndPrice {
  justify-content: space-between;
  align-items: center;
}

.capitalize {
  text-transform: capitalize;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin: 10px 0;

  button,
  span {
    font-size: 20px;
  }

  button {
    width: 32px;
    height: 32px;
    color: var(--ion-color-dark);
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #ccc;
    }
  }

  span {
    min-width: 24px;
    margin: 0 12px;
    font-weight: bold;
    text-align: center;
  }
}

ion-button {
  margin-top: 10px;
  width: 200px;
  margin-left: auto;
}
