<ion-item (click)="updateProductDisplay()">
  <ion-row class="container">
    <img [src]="product.image" alt="Product" />
    <ion-label class="info">
      <p>{{ product.brand }}</p>
      <h1>{{ product.title }}</h1>
      <p class="capitalize">{{ product.strainType | lowercase }}</p>
      <p>{{ product.thc }}</p>
      <ion-row class="weightAndPrice">
        <h3>{{ product.weight }}</h3>
        <h2>{{ product.price | currency }}</h2>
      </ion-row>

      <ng-container *ngIf="isLoggedIn">
        <ion-row class="quantity-controls">
          <button (click)="adjustQuantity(-1, $event)">-</button>
          <span>{{ quantity }}</span>
          <button (click)="adjustQuantity(1, $event)">+</button>
        </ion-row>
        <ion-button class="add-to-cart-btn" expand="block" color="primary" (click)="addToCart($event)">Add to Cart</ion-button>
      </ng-container>
    </ion-label>
  </ion-row>
</ion-item>
