<div class="button-container">
  <ion-button (click)="setOpen(true)" color="dark">Sort + Filter</ion-button>
</div>

<ion-modal [isOpen]="isModalOpen" (ionModalDidDismiss)="setOpen(false)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Sort + Filter</ion-title>
        <ion-buttons slot="end"
          ><ion-button (click)="setOpen(false)">
            <ion-icon slot="icon-only" name="close"></ion-icon> </ion-button
        ></ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div class="filters-container">
      <div class="section">
        <ion-label class="section-title">Sort</ion-label>
        <ion-row class="select-container">
          <ion-select
            label="By"
            label-placement="floating"
            fill="outline"
            interface="popover"
            [(ngModel)]="filters.sortMethod.criterion"
            (ionChange)="handleChangeField($event, 'sortMethod.criterion')"
          >
            <ion-select-option
              *ngFor="let criterion of criteriaOptions"
              [value]="criterion.value"
              >{{ criterion.label }}</ion-select-option
            >
          </ion-select>
          <ion-select
            label="From"
            label-placement="floating"
            fill="outline"
            interface="popover"
            [(ngModel)]="filters.sortMethod.direction"
            (ionChange)="handleChangeField($event, 'sortMethod.direction')"
          >
            <ion-select-option
              *ngFor="let direction of directionOptions"
              [value]="direction.value"
              >{{ direction.label }}</ion-select-option
            >
          </ion-select>
        </ion-row>
      </div>

      <div class="section">
        <ion-label class="section-title">Brands</ion-label>
        <ion-row class="checkbox-container">
          <label class="checkbox-wrapper" *ngFor="let brand of brandOptions">
            <input
              #brandInput
              type="checkbox"
              [checked]="isChecked(filters.brands, brand.value)"
              (change)="
                handleCheckField(brandInput.checked, brand.value, 'brands')
              "
            />
            <ion-label>{{ brand.label }}</ion-label>
          </label>
        </ion-row>
      </div>

      <div class="section">
        <ion-label class="section-title">Strains</ion-label>
        <ion-row class="checkbox-container">
          <label class="checkbox-wrapper" *ngFor="let strain of strainOptions">
            <input
              #strainInput
              type="checkbox"
              [checked]="isChecked(filters.strains, strain.value)"
              (change)="
                handleCheckField(strainInput.checked, strain.value, 'strains')
              "
            />
            <ion-label>{{ strain.label }}</ion-label>
          </label>
        </ion-row>
      </div>

      <div class="section">
        <ion-label class="section-title">Weights</ion-label>
        <ion-row class="checkbox-container">
          <label class="checkbox-wrapper" *ngFor="let weight of weightOptions">
            <input
              #weightInput
              type="checkbox"
              [checked]="isChecked(filters.weights, weight.value)"
              (change)="
                handleCheckField(weightInput.checked, weight.value, 'weights')
              "
            />
            <ion-label>{{ weight.label }}</ion-label>
          </label>
        </ion-row>
      </div>

      <div class="section">
        <ion-label class="section-title">Potency</ion-label>
        <ion-row class="range-container">
          <h5 class="range-label">THC %</h5>
          <ion-range
            #potencyInput
            [dualKnobs]="true"
            [pin]="true"
            [value]="filters.potency.thc"
            [(ngModel)]="filters.potency.thc"
            color="dark"
            (ionChange)="handleChangeField($event, 'potency.thc')"
          ></ion-range>
        </ion-row>
      </div>
    </div>
  </ng-template>
</ion-modal>
