<div class="points-container">

  <div class="points-header">
    <span class="points-value">{{ points }} pts</span>
    <p class="membership-status">
      {{ isExclusiveMember ? "Exclusive Member: $1 = 2 Point" : "Free Member: $1 = 1 Points" }}
    </p>
  </div>

  <div class="progress-bar-container">
    <div class="progress-bar" [style.width.%]="progressPercentage"></div>
  </div>

  <div class="progress-steps">
    <span *ngFor="let step of progressSteps">{{ step }}</span>
  </div>

  <!-- <app-redeem-products [userPoints]="points"></app-redeem-products> -->

  <!-- <div class="rewards-details" *ngIf="!isExclusiveMember">
    <div class="reward-item">
      <ion-icon name="medal-outline"></ion-icon>
      <div class="reward-header">Annual fee required (sign up in-store)</div>
      <h3>Exclusive Membership</h3>
      <ul class="reward-list">
        <li>10% off all purchases of $100+ (pre-tax)</li>
        <li>Earn 2 points for every $1 spent (pre-tax)</li>
        <li>Access to exclusive Flower Power special promotions and events</li>
        <li>Get alerts for product drops</li>
      </ul>
    </div>
  </div> -->
</div>
