/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Dark Mode */
body {
  &.dark-mode {
    color: var(--ion-color-dark-contrast);
    background-color: var(--ion-color-dark);
    --ion-background-color: var(--ion-color-dark);

    *,
    .product-detail {
      color: var(--ion-color-dark-contrast);
      background-color: var(--ion-color-dark);
    }

    ion-toolbar {
      --background: var(--ion-color-dark);
    }

    ion-popover {
      background-color: transparent;
    }

    ion-select {
      --border-color: var(--ion-color-dark-contrast);
      --highlight-color-focused: var(--ion-color-dark-contrast);
      --highlight-color-valid: var(--ion-color-dark-contrast);

      &::part(label),
      &::part(icon) {
        color: var(--ion-color-dark-contrast);
      }
    }

    ion-range {
      --bar-background: var(--ion-color-dark-contrast) !important;
      --bar-background-active: var(--ion-color-dark-contrast) !important;
      --knob-background: var(--ion-color-dark-contrast) !important;
      --pin-background: var(--ion-color-dark-contrast) !important;
      --pin-color: var(--ion-color-dark) !important;
    }

    .arrow-icon {
      color: var(--ion-color-dark-contrast);
    }

    .checkbox-container .checkbox-wrapper {
      ion-label {
        color: var(--ion-color-dark-contrast) !important;
        background-color: transparent !important;
        border-color: var(--ion-color-dark-contrast) !important;
        transition: 0.15s ease-in;
      }

      input[type="checkbox"]:checked + ion-label {
        background-color: var(--ion-color-primary) !important;
        border-color: var(--ion-color-primary) !important;
        transition: 0.15s ease-in !important;
      }
    }

    .product-info {
      .brand,
      .title,
      .strain,
      .description,
      .weight {
        color: var(--ion-color-dark-contrast);
      }

      .price,
      .see-more {
        color: var(--ion-color-primary);
      }
    }

    .reward-item {
      background-color: var(--ion-color-dark) !important;

      h3 {
        color: rgba(var(--ion-color-dark-contrast-rgb), 0.75) !important;
      }

      .reward-list li {
        color: rgba(var(--ion-color-dark-contrast-rgb), 0.9) !important;
      }
    }

    .account-container {
      h1 {
        color: rgba(var(--ion-color-dark-contrast-rgb), 0.9) !important;
      }

      .user-info,
      .settings {
        background-color: var(--ion-color-dark) !important;

        p,
        h2,
        label {
          color: rgba(var(--ion-color-dark-contrast-rgb), 0.9) !important;
        }
      }
    }

    .review-container,
    .guest-container,
    .forgot-password-container {
      background-color: var(--ion-color-dark);
      h1,
      p {
        color: rgba(var(--ion-color-dark-contrast-rgb), 0.9) !important;
      }
    }

    .form-group {
      label {
        color: var(--ion-color-dark-contrast) !important;
      }
    }

    .login-container {
      background-color: var(--ion-color-dark);
    }
  }
}
