.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    text-align: center;
    padding: 20px;
    background-color: #f7f8fa;
    overflow-y: auto; /* Allows scrolling for longer content */
  
    /* Header */
    .header {
      margin-bottom: 20px;
  
      h1 {
        font-size: 1.8rem;
        font-weight: 700;
        color: #333;
      }
    }
  
    /* User Info */
    .user-info {
      width: 100%;
      max-width: 400px;
      padding: 20px;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 30px;
  
      .info-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
  
        ion-icon {
          font-size: 1.5rem;
          color: #4caf50;
          margin-right: 10px;
        }
  
        p {
          font-size: 1rem;
          color: #555;
  
          strong {
            color: #333;
          }
        }
      }
    }
  
    /* Settings */
    .settings {
      width: 100%;
      max-width: 400px;
      padding: 20px;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
      h2 {
        font-size: 1.4rem;
        font-weight: 600;
        color: #333;
        margin-bottom: 20px;
      }
  
      .setting-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        font-size: 1rem;
  
        label {
          color: #555;
        }
  
        ion-toggle {
          --handle-background: #4caf50; /* Match the primary accent color */
          --background-checked: rgba(76, 175, 80, 0.2);
          --background: #ddd;
        }
      }
    }
  }
  