<div class="account-container">
  <div class="header">
    <h1>My Account</h1>
  </div>

  <div class="card user-info">
    <div *ngFor="let item of userInfo" class="info-item">
      <ion-icon [name]="item.icon"></ion-icon>
      <div>
        <p class="label">{{ item.label }}</p>
        <p>{{ item.value }}</p>
      </div>
    </div>
  </div>

  <div class="card settings">
    <h2>Settings</h2>
    <div *ngFor="let setting of settings" class="setting-item">
      <label for="{{ setting.id }}">{{ setting.label }}</label>
      <ion-toggle
        [id]="setting.id"
        [(ngModel)]="setting.value"
        (ionChange)="setting.action(setting.value)"
      ></ion-toggle>
    </div>
    <div class="setting-item">
      <ion-button class="action-button" (click)="logout()">
        Log Out
      </ion-button>
    </div>
  </div>
</div>
