<div class="account-container">
  <!-- Header -->
  <div class="header">
    <h1>My Account</h1>
  </div>

  <!-- User Info -->
  <div class="card user-info">
    <div class="info-item">
      <ion-icon name="person-outline"></ion-icon>
      <div>
        <p class="label">Name</p>
        <p>{{ user.fname }} {{ user.lname }}</p>
      </div>
    </div>
    <div class="info-item">
      <ion-icon name="mail-outline"></ion-icon>
      <div>
        <p class="label">Email</p>
        <p>{{ user.email }}</p>
      </div>
    </div>
    <div class="info-item">
      <ion-icon name="call-outline"></ion-icon>
      <div>
        <p class="label">Phone</p>
        <p>{{ user.phone }}</p>
      </div>
    </div>
    <div class="info-item">
      <ion-icon name="calendar-outline"></ion-icon>
      <div>
        <p class="label">Date of Birth</p>
        <p>{{ user.dob }}</p>
      </div>
    </div>
  </div>

  <!-- Settings -->
  <div class="card settings">
    <h2>Settings</h2>
    <div class="setting-item">
      <label for="notifications">Notifications</label>
      <ion-toggle
        id="notifications"
        [(ngModel)]="allowNotifications"
        (ionChange)="onToggleNotifications($event)"
      ></ion-toggle>
    </div>
    <div class="setting-item">
      <label for="darkMode">Dark Mode</label>
      <ion-toggle
        id="darkMode"
        [(ngModel)]="settings.darkMode"
        (ionChange)="onToggleDarkMode($event)"
      ></ion-toggle>
    </div>
  </div>
  
</div>
