<div class="log-in-page">
  <div class="login-container">
    <div class="login-header">
      <div class="login-header-logo">
        <img
          [src]="
            darkModeEnabled ? 'assets/logo-dark-mode.png' : 'assets/logo.png'
          "
          alt="Your Website Guy Logo"
          class="logo"
        />
      </div>
    </div>

    <!-- Error Message -->
    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Name Row -->
      <div class="name-row">
        <div class="form-group">
          <label for="firstName" class="required">First Name</label>
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            [class.invalid]="
              submitted && registerForm.get('firstName')?.invalid
            "
            placeholder="Enter your first name"
            required
          />
          <div
            *ngIf="submitted && registerForm.get('firstName')?.invalid"
            class="form-error"
          >
            First name is required and must be at least 2 characters.
          </div>
        </div>

        <div class="form-group">
          <label for="lastName" class="required">Last Name</label>
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            [class.invalid]="submitted && registerForm.get('lastName')?.invalid"
            placeholder="Enter your last name"
            required
          />
          <div
            *ngIf="submitted && registerForm.get('lastName')?.invalid"
            class="form-error"
          >
            Last name is required and must be at least 2 characters.
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="form-group">
        <label for="email" class="required">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          [class.invalid]="submitted && registerForm.get('email')?.invalid"
          placeholder="Enter your email"
          required
        />
        <div
          *ngIf="submitted && registerForm.get('email')?.invalid"
          class="form-error"
        >
          Valid email is required.
        </div>
      </div>

      <!-- Phone Group -->
      <div class="form-group phone-group">
        <div class="country-code">
          <label for="countryCode" class="required">Phone</label>
          <ion-select
            formControlName="countryCode"
            id="countryCode"
            placeholder="Select Country Code"
            interface="popover"
          >
            <ion-select-option
              *ngFor="let country of countries"
              [value]="country.code"
            >
              {{ country.name }} ({{ country.dialCode }})
            </ion-select-option>
          </ion-select>
        </div>

        <div class="phone-number">
          <input
            type="tel"
            id="phone"
            formControlName="phone"
            [class.invalid]="submitted && registerForm.get('phone')?.invalid"
            placeholder="Enter your phone number"
            required
          />
          <div
            *ngIf="submitted && registerForm.get('phone')?.invalid"
            class="form-error"
          >
            Phone number is required and must be valid.
          </div>
        </div>
      </div>

      <!-- DOB -->
      <div class="form-group">
        <label for="dob" class="required">Date of Birth</label>
        <div class="dob-container">
          <input
            type="text"
            id="month"
            formControlName="month"
            [class.invalid]="submitted && registerForm.get('month')?.invalid"
            placeholder="MM"
            class="dob-input"
            maxlength="2"
          />
          <input
            type="text"
            id="day"
            formControlName="day"
            [class.invalid]="submitted && registerForm.get('day')?.invalid"
            placeholder="DD"
            class="dob-input"
            maxlength="2"
          />
          <input
            type="text"
            id="year"
            formControlName="year"
            [class.invalid]="submitted && registerForm.get('year')?.invalid"
            placeholder="YYYY"
            class="dob-input"
            maxlength="4"
          />
        </div>
        <div
          *ngIf="(submitted && dobEmptyError) || dobInvalidError"
          class="form-error"
        >
          A valid Date of Birth is Required.
        </div>
        <div *ngIf="submitted && underageError" class="form-error">
          You must be 21 years or older.
          <input
            type="text"
            id="month"
            formControlName="month"
            placeholder="MM"
            class="dob-input"
            maxlength="2"
          />
          <input
            type="text"
            id="day"
            formControlName="day"
            placeholder="DD"
            class="dob-input"
            maxlength="2"
          />
          <input
            type="text"
            id="year"
            formControlName="year"
            placeholder="YYYY"
            class="dob-input"
            maxlength="4"
          />
        </div>
        <div
          *ngIf="submitted && (registerForm.get('month')?.invalid || registerForm.get('day')?.invalid || registerForm.get('year')?.invalid )"
          class="form-error"
        >
          Date of Birth is required and you must be 18+ years old.
        </div>
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password" class="required">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          [class.invalid]="submitted && registerForm.get('password')?.invalid"
          placeholder="Enter your password"
          required
        />
        <div
          *ngIf="submitted && registerForm.get('password')?.invalid"
          class="form-error"
        >
          Password is required and must be at least 6 characters.
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="form-group">
        <label for="confirmPassword" class="required">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          [class.invalid]="
            submitted && registerForm.get('notMatching')?.invalid
          "
          placeholder="Confirm your password"
          required
        />
        <div
          *ngIf="submitted && registerForm.hasError('notMatching')"
          class="form-error"
        >
          Passwords do not match.
        </div>
      </div>

      <!-- Submit Button -->
      <ion-button
        expand="block"
        type="submit"
        [disabled]="!isFormTouched || loading"
      >
        <ion-spinner *ngIf="loading" slot="start"></ion-spinner>
        Register
      </ion-button>
    </form>

    <p class="login-link">
      Already have an account?
      <a routerLink="/auth" [queryParams]="{ mode: 'login' }">Login</a>
    </p>
  </div>
</div>
